<div class="relative w-[50vw] h-dvh md:h-scree flex flex-col items-center justify-center gap-y-3">
    <form class="w-1/2 h-1/2 flex flex-col gap-y-6 text-white" (ngSubmit)="signInUser()" [formGroup]="signInForm">
        <h1 class="login-welcome">Welcome Back!</h1>
        <h1 class="relative top-4 font-medium text-2xl">Log In</h1>
        <div [ngClass]="{ 'border-red-500': EmailError || fail, 'border-green-500': success }" class="relative border-2 h-11 flex items-center rounded-lg pr-3 focus-within:border-blue-500 group">
            <div [ngClass]="{ 'border-red-500': EmailError || fail, 'border-green-500': success }" class="flex items-center justify-center mr-2 h-full w-11 text-center border-r-2 group-focus-within:border-blue-500">
                <i [ngClass]="{ 'text-green-500': success, 'text-red-500': fail }" *ngIf="!EmailError && !success && !fail" 
                    class="fa-solid fa-envelope group-focus-within:text-blue-500"></i>
                <i *ngIf="EmailError"
                    class="fa-solid fa-exclamation text-red-500 text-lg"></i>
                <i *ngIf="success"
                    class="fa-solid fa-check text-green-500 text-lg"></i>
                <i *ngIf="fail"
                    class="fa-solid fa-xmark text-red-500 text-lg"></i>
            </div>
            <input [ngClass]="{ 'text-green-500': success }" formControlName="Email" type="email" class="w-full p-1 bg-transparent outline-none" name="email" placeholder="example@sample.com" autocomplete="false">
        </div>
        <div [ngClass]="{ 'border-red-500': passwordError || fail, 'border-green-500': success }" class="relative border-2 h-11 flex items-center rounded-lg pr-3 focus-within:border-blue-500 group">
            <div [ngClass]="{ 'border-red-500': passwordError || fail, 'border-green-500': success }" class="flex items-center justify-center mr-2 h-full w-11 text-center border-r-2 group-focus-within:border-blue-500">
                <i [ngClass]="{ 'text-green-500': success, 'text-red-500': fail }" *ngIf="!passwordError && !success && !fail" 
                    class="fa-solid fa-lock group-focus-within:text-blue-500"></i>
                <i *ngIf="passwordError" 
                    class="fa-solid fa-exclamation text-red-500 text-l"></i>
                <i *ngIf="success"
                    class="fa-solid fa-check text-green-500 text-lg"></i>
                <i *ngIf="fail"
                    class="fa-solid fa-xmark text-red-500 text-lg"></i>
            </div>                
            <input [ngClass]="{ 'text-green-500': success }" formControlName="Password" type="password" class="w-full p-1 bg-transparent outline-none" name="password" placeholder="******">
            <button type="button" (click)="goResetPassword()" class="absolute top-[112%] right-0 text-blue-500 font-semibold hover:underline">Forgot Password?</button>
        </div>
        <div class="relative top-3 flex gap-x-4">
            <button matRipple [matRippleColor]="'#1F293755'" type="button" class="w-full h-11 font-medium text-lg bg-gray-800 rounded-lg transition duration-300 md:hover:bg-gray-600" (click)="goSignUp()">Sign Up</button>
            <button matRipple [matRippleColor]="'#3B82F655'" type="submit" class="w-full h-11 font-medium text-lg bg-blue-800 rounded-lg transition duration-300 md:hover:bg-blue-600"><span *ngIf="!loader">Sign In</span><span *ngIf="loader" class="loader text-lg"></span></button>
        </div>
    </form>
</div>
