<section class="user-navigation">
    <div class="user-images">
        <div class="image-container"></div>
        <span class="user-name-box">{{ this.userName }}</span>
    </div>
    <div class="user-nav">
        <div class="nav-group">
            <i class="fa-solid fa-user"></i>
            <span class="nav-text">Personal Information</span>
        </div>
        <div class="nav-group">
            <i class="fa-solid fa-gear"></i>
            <span class="nav-text">Setting</span>
        </div>
        <div class="nav-group">
            <i class="fa-solid fa-bell"></i>
            <span class="nav-text">Notification</span>
        </div>
        <div class="nav-group">
            <i class="fa-solid fa-lock"></i>
            <span class="nav-text">Privacy</span>
        </div>
        
    </div>
</section>