::ng-deep .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-unselected-icon-color: #FFF;
    --mdc-checkbox-unselected-pressed-icon-color: #FFF;
    --mdc-checkbox-disabled-selected-icon-color: #FFF;
    --mdc-checkbox-disabled-unselected-icon-color: #FFF;
    --mdc-checkbox-selected-icon-color: #3B82F6;
    --mdc-checkbox-unselected-hover-icon-color: #3B82F6;
    --mdc-checkbox-selected-focus-icon-color: #3B82F6;
    --mdc-checkbox-selected-hover-icon-color: #3B82F6;
    --mdc-checkbox-selected-icon-color: #3B82F6;
    --mdc-checkbox-selected-pressed-icon-color: #3B82F6;
    --mat-checkbox-ripple-color: #FFF;
    --mat-checkbox-unselected-ripple-color: #FFF;
    --mat-checkbox-checked-ripple-color: #3B82F6;
}