<div class="w-[50vw] min-h-screen text-gray-300 flex items-center justify-center p-4">
    <div class="w-full max-w-lg bg-[#1F2937] rounded-lg shadow-lg p-6">
        <form>
            <div class="mb-4">
                <h2 class="text-2xl font-bold">Recover password</h2>
            </div>
            <div class="mb-4 flex flex-col gap-y-1">
                <label class="block text-sm font-medium">Email Address</label>
                <input type="email" class="w-full p-2 border border-gray-500 rounded bg-gray-700 text-white focus:outline-none focus:border-blue-500" placeholder="sample@example.com" />
            </div>
            <div class="flex gap-4">
                <button type="button" routerLink="/" mat-ripple class="bg-gray-600 transition duration-300 hover:bg-gray-400 text-white w-full py-2 rounded">
                    <span>Log in</span>
                </button>
                <button type="submit" mat-ripple class="bg-blue-600 transition duration-300 hover:bg-blue-400 text-white w-full py-2 rounded">
                    <span>Send Email</span>
                </button>
            </div>
        </form>
    </div>
</div>